<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="admin.css" rel="stylesheet">
    <link href="cv.css" rel="stylesheet">
    <link href="about.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div th:replace="admin::header"></div>
    <div class="container_content">
        <div th:replace="admin::navs"></div>
        <div class= "cv">
        <div class="content_aboutme">
            <img src="img/chiikawa.jpg" alt="Ảnh đại diện">
        <h1>Xin chào! Tôi là Ánh Hồng</h1>
        <p>Tôi đang theo học tại trường Đại học Nha Trang.</p>
        <p>Hiện tại tôi đang tìm hiểu về HTML, CSS, JavaScript và Java.</p>
        <p>Hãy kết nối với tôi qua email: <a href="mailto:hong.dta.64cntt@ntu.edu.vn">hong.dta.64cntt@ntu.edu.vn</a></p>
        <p>hoặc số điện thoại: <a href="tel:+84903573201">0903 573 201</a></p>
        <div class="social-links">
    	<a href="https://www.facebook.com/vianunreal" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    	<a href="https://www.instagram.com/ppatete_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
        </div>
        
    </div>
    <div th:replace="admin::footer"></div>
</body>
</html>
