<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SpringBoot</title>
<link rel='stylesheet' href='aboutme.css'>
</head>
<body>
<div class="container">
        <img src="ann.jpg" alt="Ảnh đại diện">
        <h1>Xin chào! Tôi là Ánh Hồng</h1>
        <p>Tôi đang theo học tại trường Đại học Nha Trang.</p>
        <p>Hiện tại tôi đang tìm hiểu về HTML, CSS, JavaScript và Java.</p>
        <p>Hãy kết nối với tôi qua email: <a href="mailto:hong.dta.64cntt@ntu.edu.vn">hong.dta.64cntt@ntu.edu.vn</a></p>
        <p>hoặc số điện thoại: <a href="tel:+84903573201">0903 573 201</a></p>
    </div>
</body>
</html>