@charset "UTF-8";
.container_content{
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    padding-bottom: 10px;
}

.cv{
	grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 20px;
    align-self: center;
    
}

.content_aboutme{
	flex-direction: column;
	align-items: center;      
	justify-content: center;
	text-align: center;     
	height: 100%; 
}

.image img{
	border-radius: 50%;
	padding-bottom: 5px;
}

.topics{
	grid-column: span 4/ span 4;
	grid-row: span 5/ span 5;
}

.tb_DS {
        border-collapse: collapse;
        width: 100%;
        font-family: Arial, sans-serif;
        padding-bottom: 10px;
    }

.tb_DS th,
.tb_DS td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
}

.tb_DS thead {
    background-color: #f2f2f2;
}

.tb_DS tr:hover {
    background-color: #f9f9f9;
}

.tb_DS a {
    text-decoration: none;
    color: #007bff;
}

.tb_DS a:hover {
    text-decoration: underline;
}

.btn-add-topic {
	padding-top: 5px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-add-topic:hover {
    background-color: #218838;
}