<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="styleadmin.css" rel="stylesheet">
<link href="home.css" rel="stylesheet">
</head>
<body>
	<div th:replace="layoutadmin::header"></div>
	<div class="parent">
	    <div class="home">
			<div class="text">
				<h1> Welcome to my page!</h1>
				<pre>
					⊹⠀ ⠀ ⣀⣤⣤⣤⡀⣀⣤⣤⣤⣀ ⠀⠀⠀⠀⠀ ₊ 
					⠀⠀ ⣼⠋ ⠀⠀ ⠹⠋ ⠀⠀⠀⠙⣧
					⠀⠀ ⣿ ⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⣿
					⣠⠶⠛⠻⣷⠞⠛⢶⡄ ⠀⠀⠀⠀⣼⠃
					⣿ ⠀⠀⠀⠀⠀ ⠀⣿ ⠀⠀ ⣠⠞⠁
					⠘⣧ ⠀⠀⠀⠀⠀⡼⣧⣴⠞
					⠀⠈⠻⣦⣀⡴⠟⠁ ⠀⠀⠀⠀⠀⊹
					₊⠀⠀⠀ ⠉
		    	</pre>
			</div>
			<img class="anh" src="ah.jpg" alt="my img">
		</div>
		<div class="right_content" th:replace="layoutadmin::content"></div>
</div>
	<div th:replace="layoutadmin::footer"></div>

</body>
</html>