<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="styleadmin.css" rel="stylesheet">
<link href="list.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Sinh viên</title>
</head>
<body>
<div th:replace="layoutadmin::header"></div>
<div class="content_list">
	<div class="table_sinhvien">
	<div><h2>Danh sách Sinh viên</h2></div>
		
		    <table>
		        <thead>
		            <tr>
		                <th>Mã SV</th>
		                <th>Họ tên</th>
		                <th>Tuổi</th>
		                <th>Ngành học</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="sinhVien : ${sinhViens}">
		                <td th:text="${sinhVien.id}"></td>
		                <td th:text="${sinhVien.name}"></td>
		                <td th:text="${sinhVien.age}"></td>
		                <td th:text="${sinhVien.major}"></td>
		            </tr>
		        </tbody>
		    </table>
	</div>
	<div th:replace="layoutadmin::content"></div>
</div>
<div th:replace="layoutadmin::footer"></div>
</body>
</html>
