<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin sinh viên</title>
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel='stylesheet' href='sinhvien.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Thông tin sinh viên</h1>
        <div class="info"><span class="label">Họ tên:</span> <span th:text="${hoTen}"></span></div>
        <div class="info"><span class="label">Năm sinh:</span> <span th:text="${namSinh}"></span></div>
        <div class="info"><span class="label">Giới tính:</span> <span th:text="${gioiTinh}"></span></div>
    </div>
</body>
</html>