<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin sinh viên</title>
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel='stylesheet' href='truyendsObject.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <h2>Danh Sách Sinh Viên</h2>
    <table border="1">
    <tr>
        <th>MSSV</th>
        <th>Họ tên</th>
        <th>Giới tính</th>
        <th>Năm sinh</th>
    </tr>
    <tr th:object="${sinhVien}">
        <td th:text="*{mssv}"></td>
        <td th:text="*{hoTen}"></td>
        <td th:text="*{gioiTinh}"></td>
        <td th:text="*{namSinh}"></td>
    </tr>
</table>

</body>
</html>